*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

/*Header*/
header img{
    height: 700px;
    width: 100%;
    background-color: transparent;
    padding: 0px;
    margin: 0px ;
    object-fit: cover;
}

#cabecera{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#cabecera img{
    height: 100px;
    width: 100px;
    margin-left: 5%;
    border-radius: 50%;
}

#cabecera ul{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

#cabecera ul li{
    font-family: 'Montserrat', sans-serif;
    margin-right: 15px;
    
}

#cabecera ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: rgb(6, 22, 9);
    font-weight: 600;
    margin-left: 5px;
}

#titulo{
    position: absolute;
    margin-top: 400px;
    width: 100%;
    display: flex;
    flex-flow: column;
}


#titulo h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-weight: 800;
    color: rgb(26, 24, 24);
    align-self: flex-end;
    margin-right: 7%;
    width: 60%;
}

#titulo h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(228, 222, 222);
    align-self: flex-end;
    margin-right: 7%;
    width: 60%;
}

#cuerpo{
    display: flex;
    flex-flow: column;
}

.parallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#primero{
    width: 100%;
    height: 700px;
    background-image: url(./img/dot.jpg);
}

#primero img{
    width: 100%;
    height: 700px;
}

#primero #primero2{
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 700px;
}

#primero2 h1{
    color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: 210px;
    width: 60%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

#primero2 h2{
    color: rgb(8, 8, 8);
    margin-left: 210px;
    width: 60%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#segundo{
    width: 100%;
    height: 700px;
    background-color: #e8e8e8;
}


#segundo2{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    height: 700px;
}

#brujulatexto{
    align-self: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#brujulatexto h1{
    color: rgb(73, 72, 72);
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#brujulatexto h2{
    color: #276635;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 82%;
}

#segundo2 img{
    align-self: center;
    border-radius: 50%;
    margin-left: 60px;
}

#segundo2 img:hover {
    border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    transition: 2s;
}

#tercero{
    width: 100%;
    height: 700px;
    background-image: url(./img/isil.jpg);
}

#tercero img{
    width: 100%;
    height: 700px;
}

#tercero #tercero2{
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    height: 700px;
    align-items: flex-end;
}

#tercero2 h1{
    color: white;
    margin-right: 100px;
    margin-top: 100px;
    width: 50%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

#tercero2 h2{
    color: white;
    margin-right: 35px;
    width: 54.7%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: rgb(73, 72, 72);
    align-items: center;
    height: 150px;
}

footer img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#copyright{
    display: flex;
    flex-flow: column wrap;
}

#redes{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 33%;
    margin-left: 50px;
}

hr{
    color: rgb(184, 182, 182);
    width: 0px;
    height: 50px;
    margin-right: 20px;
}

#redesbarra{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 34%;
}

footer ul li{
    color: rgb(184, 182, 182);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

#redes li a img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#foto{
    width: 33%;
    justify-content: center;
    display: flex;
}
